body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
  }
  
  .form-signin .form-floating {
    margin-bottom: -1px;
  }
  
  .form-signin .form-floating input {
    border-radius: 0;
  }
  
  .form-signin .form-floating:nth-of-type(1) input {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .form-signin .form-floating:last-of-type input {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  button {
    margin-top: 20px;
    border-radius: 8px;
  }